.loading-container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflo: hidden;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 30px;
  height: 30px;
  border: 4px solid #c8c8c8;
  border-left-color: blue;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
